{{ template "master.tpl" . }}

{{ define "contentSection" }}

    {{if .Errors}}

    {{else}}



        <div>Import File</div>

        <form enctype="multipart/form-data" action="/survey/import/1541/upload" method="POST">
            <input type="file" name="the_file" id="the_file" />

            <button type="submit">Upload</button>
        </form>


    {{end}}
{{end}}
