{{ template "master.tpl" . }}

{{ define "contentSection" }}

    Welcome to Genex API
    <BR>
    <BR>
    <form method="GET" action="/survey">
    <button type="submit" class="btn btn-info">Click here to Connect and view surveys</button>
    </form>
    

{{end}}